<div class="top">
      <div class="header">
        <ul>
          <li><b style="font-size: 20px;">Rohit Tavare</b></li>
          <li><a href="#proj">Projects</a></li>
          <li><a href="#exp">Experience</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>Rohit Tavare</h1>
        <h3>Creative - Innovative</h3>
      </div>
    </div>
