<div class="summary">
        <div class="text-bubble">
          <p>Rohit Tavare is a first year computer science major at UCLA. He is a member of ACM, and IEEE OPS, a part of the Comptuer Vision team at X1 Robotics and a software engineering intern at the Daily Bruin. He is currently open to internships for the summer of 2018 in software development and machine learning.</p>
        </div>
      </div>
