<div class="card">
  <img src="http://rohittavare.github.io/ironman.png" alt="project picture">
  <p><b>Iron Man</b></p>
  <p>Iron Man 3D Modeling project on 3DS Max. Heavy use of metalic materials, polygon modification, lighting effects</p>
</div>
