<!DOCTYPE html>
<html class="no-js" lang="en-US">
{% include "./nunjucks/partials/head.njk" %}
<body>
{% include "./nunjucks/partials/scripts.njk" %}
  {% include "./nunjucks/partials/header.njk" %}
  <div class="mid">
    {% include "./nunjucks/partials/summary.njk" %}
    {% include "./nunjucks/partials/projects.njk" %}
    {% include "./nunjucks/partials/experience.njk" %}
    {% include "./nunjucks/partials/contact.njk" %}
  </div>
  {% include "./nunjucks/partials/footer.njk" %}
</body>

</html>
